.nav-content {
  display: flex;
  background-color: #163205;
  font-family: 'Source Serif Pro', serif; 
}

.nav-link {
 display: block;
 width: 20%; 
 color: white; 
}

.page-header {
 background-image: url("/assets/images/DSC_0231.jpg");
 background-size: cover;
 font-family: 'Source Serif Pro', serif; 
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}




